.mat-card{
  /* display: flex; */
  justify-content: center;
  width: 20cm;
  margin-left: 10cm;
  margin-top: 0.5cm;
}
.mat-card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mat-card-title{
  text-align: center;
  padding-bottom: 20px;
}
.mat-card-actions{
  text-align: right;
}

